<footer class="light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h3>Sekretariat APJII Bali</h3>
                <p>Gedung NIX Kemkominfo Lt.2, Jl. Gatot Subroto Barat No. 333, Br. Pagutan, Padangsambian Kaja, Denpasar Barat, Denpasar - Bali 80117</p>
            </div>
            <div class="col-lg-4">
                <h3>Kontak Kami</h3>
                <ul class="icon-list icon-line">
                    <li>
                        <a href="mailto:sekretariat@bali.apjii.or.id" target="__blank"><img src="{{ 'assets/media/icon/envelope.svg'|theme }}" style="max-width:25px; filter: invert(100%); vertical-align: middle;" />&ensp;<p>sekretariat@bali.apjii.or.id</p></a>
                    </li>
                    <li>
                        <a href="https://wa.me/6287777922295" target="__blank"><img src="{{ 'assets/media/icon/whatsapp.svg'|theme }}" style="max-width:25px; filter: invert(100%); vertical-align: middle;" />&ensp;<p>(+62)87 777 922 295</p></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/apjiibali/" target="__blank"><img src="{{ 'assets/media/icon/instagram.svg'|theme }}" style="max-width:25px; filter: invert(100%); vertical-align: middle;" />&ensp;<p>@apjiibali</p></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <!-- <div class="icon-links icon-social icon-links-grid social-colors">
                    <a class="facebook"><i class="icon-facebook"></i></a>
                    <a class="twitter"><i class="icon-twitter"></i></a>
                    <a class="instagram"><i class="icon-instagram"></i></a>
                    <a class="google"><i class="icon-google"></i></a>
                </div>
                <hr class="space-sm" />
                <p>Temukan kami lewat media sosial</p> -->
                <center><img src="{{ 'assets/media/logopngputih.png'|theme }}" style="max-width: 250px"></center>
            </div>
        </div>
    </div>
    <div class="footer-bar">
        <div class="container">
            <span>© 2021 APJII - Asosiasi Penyelenggara Jasa Internet Indonesia - Bali</span>
            <span><a href="{{url('/sekretariat-apjii')}}">Contact us</a></span>
        </div>
    </div>
</footer>