title = "Kegiatan"
url = "/kegiatan"
layout = "default"
is_hidden = 0
==
<?php
	use Winter\Blog\Models\Post;
	use Winter\Blog\Models\Category;

	function onStart()
	{   
		$slug = $this->param('slug');
		$this['kegiatan'] = Post::where('published', 1)->get();
		$this['side_kegiatan'] = Post::where('published', 1)->get();
		$this['category1'] = Category::where('slug', 'kegiatan')->first();
		$this['category2'] = Category::where('slug', 'kegiatan')->first();
	}
?>
==
<style type="text/css">
	.accordion-list a{
		text-decoration: none;
		color: black;
	}
	.accordion-list a:hover{
		color:  blue!important;
	}
	/*.col-lg-2{

	}*/
</style>

{% put header_plus %}
<!-- <header class="header-image" style="background-image:url(https://themekit.dev/shared/thumbs/hd-empty.png);">
	<div class="container">
		<h1>{{ this.page.title }}</h1>
		<h2></h2>
		<ol class="breadcrumb">
			<li><a href="{{url('/')}}">Home</a></li>
			<li><a href="#">{{this.page.title}}</a></li>
		</ol>
	</div>
</header> -->
{% endput %}

<section class="section-base section-color">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="grid-list" data-columns="1">
					<div class="grid-box">
						{% for kegiatan in category1.posts %}
							<div class="grid-item">
								<div class="cnt-box cnt-box-blog-side boxed" data-href="{{url('/kegiatan/'~kegiatan.slug)}}">
									<a href="{{url('/kegiatan/'~kegiatan.slug)}}" class="img-box">
									<!-- <div class="blog -date">
										<span>08</span>
										<span>NOVEMBER 2021</span>
									</div> -->
									<img src="{{ kegiatan.featured_images[0].path }}" alt="" />
								</a>
								<div class="caption">
									<h2 style="font-size: 16px; font-style: bold; line-height: 25px;">{{kegiatan.title}}</h2>
									<ul class="icon-list icon-list-horizontal">
										<li><i class="icon-calendar"></i><a href="#">{{kegiatan.published_at|date('d-M-Y')}}</a></li>

									</ul>
									<p style="font-size: 10px; line-height: 20px;">
										{{ kegiatan.content|length > 150 ? kegiatan.content|striptags|slice(0, 150) ~ '...' : kegiatan.content|raw|striptags }}
									</p>
									<!-- <a href="#">View Detail -></a> -->
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="list-pagination">
						<ul class="pagination" data-page-items="4" data-options="scrollTop:true"></ul>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<form class="form-box">
					<div class="input-text-btn">
						<input class="input-text" type="text" placeholder="Search ..." /><input type="submit" value="Search" class="btn" />
					</div>
				</form>
				<hr class="space-sm" />
				<h3>Bulan</h3>
				<hr class="space-xs" />

				<ul class="accordion-list">
					<li>
						<a href="#">2021</a>
						<div class="content">
							<a href="#">Januari</a><br>
							<a href="#">Februari</a><br>
							<a href="#">Maret</a><br>
							<a href="#">April</a><br>
							<a href="#">Mei</a><br>
							<a href="#">Juni</a><br>
							<a href="#">Juli</a><br>
							<a href="#">Agustus</a><br>
							<a href="#">September</a><br>
							<a href="#">Oktober</a><br>
							<a href="#">November</a><br>
							<a href="#">Desember</a>
						</div>
					</li>
					<li>
						<a href="#">2022</a>
						<div class="content">
							<a href="#">Januari</a><br>
							<a href="#">Februari</a><br>
							<a href="#">Maret</a><br>
							<a href="#">April</a><br>
							<a href="#">Mei</a><br>
							<a href="#">Juni</a><br>
							<a href="#">Juli</a><br>
							<a href="#">Agustus</a><br>
							<a href="#">September</a><br>
							<a href="#">Oktober</a><br>
							<a href="#">November</a><br>
							<a href="#">Desember</a>
						</div>
					</li>
					<li>
						<a href="#">2023</a>
						<div class="content">
							<a href="#">Januari</a><br>
							<a href="#">Februari</a><br>
							<a href="#">Maret</a><br>
							<a href="#">April</a><br>
							<a href="#">Mei</a><br>
							<a href="#">Juni</a><br>
							<a href="#">Juli</a><br>
							<a href="#">Agustus</a><br>
							<a href="#">September</a><br>
							<a href="#">Oktober</a><br>
							<a href="#">November</a><br>
							<a href="#">Desember</a>
						</div>
					</li>
				</ul>

				<hr class="space-sm" />
				<h3>Berita Terbaru</h3>
				<hr class="space-sm" />
				<div class="menu-inner menu-inner-vertical menu-inner-image">
					<ul>
						{% for side_kegiatan in category2.posts %}
						<li>
							<a href="#">
								<img src="{{ side_kegiatan.featured_images[0].path }}" alt="" />
								<span>{{side_kegiatan.published_at|date('Y-M-d')}}</span>
								{{side_kegiatan.title}}
							</a>
						</li>
						{% endfor %}
					</ul>
				</div>

			</div>

		</div>
	</div>

</section>